html, body {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    border: 0;
    font-size: 100%;
    background-color: #f08cda;
    color: #ce503a;
  }


  /* background-color: #8cecf0; */